.container {
    background-color: var(--color-panel);
    border: 1px solid var(--gray-a6);
    border-radius: var(--radius-5);
    padding: 2em 3em; /* 32px 48px */
    width: 30em; /* 480px */
}

.header {
    margin: 2.5em 0; /* 40px 0 */
}

.field {
    margin-bottom: 1.25em; /* 20px */
}

.label {
    display: block;
    margin-bottom: 0.25em; /* 4px */
}

.footer {
    margin-top: 2em; /* 32px */
}