:root {
    --background-color: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: 17, 17, 19;
    }
}

html, body {
    max-width: 100vw;
    overflow-x: hidden;
}

html {
    font-family: var(--font-inter);
}

body {  
    background: rgb(var(--background-color));
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1136px;    
}

@media (max-width: 1200px) {
    .container {
        margin: 0 2em;
    }
}


@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

.nowrap {
    white-space: nowrap;
}

.radix-themes {
    --default-font-family: var(--font-inter);
}


.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}