.container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.input {
    background-color: var(--gray-2);
    border: none;
    border-radius: 50%;
    font-family: var(--font-inter);
    font-size: 1.5em;
    font-weight: 500;
    height: 2.667em;
    line-height: 2.667em;
    padding: 0;
    text-align: center;
    width: 2.667em;

    -moz-appearance: textfield;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}